@import "/src/app/shared/styles/fonts";
@import "/src/app/shared/styles/variables";

.btn-submit {
  margin: 0 0 20px 0;
  display: block;
  width: 255px;
  height: 50px;
  background-color: transparent;
  border: 2px solid $main;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  &:hover {
    background-color: $main;
    color: #fff;
    border: 2px solid transparent;
  }
}
input.form-control {
  font-size: 16px;
height: 56px;
border: 1px solid #dcdcdc;
border-radius: 10px;
color: #252525;
line-height: 56px;
padding: 0 20px 0 23px;
transition: 0.35s;
text-overflow: ellipsis;
margin: 15px 0;
overflow: hidden;
}
